{% extends "layout.html" %}

{% set pageId = "page-create-point" %}

{% block title %}
    <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
{% endblock styles %}

{% block content %}

    {% include "partials/page-header.html" %}

    <form action="">

        <h1>Cadastro do ponto de coleta</h1>

        <fieldset>
            <legend>
                <h2>Dados da entidade</h2>
            </legend>


            <div class="field-group">
                <div class="field">
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label for="name">Imagem da entidade</label>
                    <input 
                        type="url" 
                        name="image" 
                        required="required"
                        placeholder="http://">
                </div>
            </div>



            <div class="field-group">
                <div class="field">
                    <label for="address">Endereco</label>
                    <input type="text" name="address" required="required">
                </div>
                <div class="field">
                    <label for="address2">Numero</label>
                    <input type="text" name="address2" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="Selecione o Estado">Selecione o Estado</option>
                    </select>

                    <input type="hidden" name="state">
                </div>

                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="Selecione a Cidade"></option>
                    </select>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">
                <li data-id="1">
                    <img src="/assets/lampadas.svg" alt="Lampadas">
                    <span>Lampadas</span>
                </li>
                
                <li data-id="2">
                    <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
                    <span>Pilhas e Baterias</span>
                </li>

                <li data-id="3">
                    <img src="/assets/papeis-papelao.svg" alt="Papeis e papelao">
                    <span>Papeis e papelao</span>
                </li>

                <li data-id="4">
                    <img src="/assets/eletronicos.svg" alt="Residuos Eletronicos">
                    <span>Residuos Eletronicos</span>
                </li>

                <li data-id="5">
                    <img src="/assets/organicos.svg" alt="Residuos Organicos">
                    <span>Residuos Organicos</span>
                </li>

                <li data-id="6">
                    <img src="/assets/oleo.svg" alt="Oleo de Cozinha">
                    <span>Oleo de Cozinha</span>
                </li>
            </div>

            <input type="hidden" name="items">
        </fieldset>

        <button type="submit">Cadastrar ponto de coleta</button>
    </form>

{% endblock content %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}